body {
  background-image: url("http://cdn.pcwallart.com/images/gradient-texture-background-wallpaper-1.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
